<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users Page</h1>
    <a href="/admin/users/add">Add new user</a>
    <ol>
    <%  users.forEach(user=>{ %>
        <li><%= user.name %> - <%= user.email %> - <%= user.role %>
        <a href="/admin/users/edit/<%= user._id %>">Edit</a> - <a href="/admin/users/delete/<%= user._id %>">Delete</a></li>
        
        <% }) %>
        </ol>
</body>
</html>